* {
    display: flex;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-color: gray;
    color: white;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 20px;
    border-radius:10%;
}

img {
    display: flex;
    align-items: center;
    max-width: 25%;
    max-height: 25%;
    padding: 1%;
    margin: 1%;
    background-color: lightseagreen;
}
